body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media screen and (max-width: 767px) {
  .mobile-space {margin-top:15px;}
  .editprof{margin-bottom: 20px; margin-top: 10px;}
  .profilepic{margin-left: 20%;}
  .profileusername{margin-top: 20px; text-align:'center'}
  }

  .form-group{
    text-align:left !important;
}
